*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
  list-style: none;
}
.addBtn {
  border-radius: 5px;
  border: none;
  padding: 8px 10px;
  transition: all .5s;
}
input{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
input:focus, .addBtn:focus{
    outline: none;
}
.addBtn:hover{
    background-color:#333;
    color: #fff;
}
li{
    text-align: left;
    color: #fff;
   padding-left: 10px;
}
li:first-child{
    margin-top: 20px;
}
.onOffBtn{
    margin-bottom: 20px;
}
.onOffdiv img{
    border-radius: 5px ;
}
.inc, .dec{
    margin-right: 10px;
}
.counterStep{
    color: #fff;
}