* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e9e9e9;
}
/* .clock-wrapper{background-color: #fff;} */
.clockContainer {
  position: relative;
  margin: 100px auto;
  height: 40vw;
  /*to make the height and width responsive*/
  width: 40vw;
  background: url(analog-clock-trnsprt.png) no-repeat;
  /*setting our background image*/
  background-size: 100%;
   border: 5px solid #929293; 
  border-radius: 50%;
  
}
.clockContainer::before {
  content: "";
  width: 3%;
  height: 3%;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 48%;
  left: 48%;
}

.hour,
.minute,
.second {
  position: absolute;
  background: #000;
  border-radius: 10px;
  transform-origin: bottom;
}

.hour {
  width: 1.3%;
  height: 15%;
  top: 35%;
  left: 48.85%;
  opacity: 0.8;
}

.minute {
  width: 1%;
  height: 20%;
  top: 30%;
  left: 48.9%;
  opacity: 0.8;
}

.second {
  width: 0.5%;
  height: 25%;
  top: 25%;
  left: 49.25%;
  opacity: 0.8;
}
